form{
    display: grid;
    grid-template-columns: 100px 250px 100px;
    grid-template-rows: 30px 200px 30px 30px;
    
}
#front-card{
    background-color:lightgray;
    grid-column:1/3;
    grid-row: 1/3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px darkgrey;
    z-index: 3;
}

#back-card{
    background-color: lightgray;
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px darkgrey;
    z-index: 1;
}

#submit{
    grid-column: 3/4;
    grid-row: 4/5;
    margin-top: 10px;
    width:70px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px darkgrey;
    align-items: right;
}
